.framer-draggable-card {
    border-radius: 15px;
    padding: 20px 40px;
    width: 100%;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.4);
    position: relative;
    will-change: transform;
    &-purp {
        background-color: #9e8fc7;
    }
    &-blue {
        background-color: #4f8cdd;
    }
    &-black {
        background-color: #3b2c41;
    }

    .card {
        &-title {
            color: white;
            font-size: 2rem;
            font-weight: 600;
        }
        &-description {
            color: white;
            font-size: 1.2rem;
        }
        &-image {
            display: block;
            width: 100%;
            pointer-events: none;
            filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.1));
        }
    }
}