.js-hover-card {
    transform-style: preserve-3d;
    &:hover {
        z-index: 1;
        .card {
            &-title {
                transform: translateZ(25px);
            }
            &-description {
                transform: translateZ(50px);
            }
            &-image {
                transform: translateZ(100px);
            }
        }
    }
    &-purp .card-inner {
        background-color: #9e8fc7;
    }
    &-blue .card-inner {
        background-color: #4f8cdd;
    }
    &-black .card-inner {
        background-color: #3b2c41;
    }

    .card {
        &-inner {
            border-radius: 15px;
            padding: 20px 40px;
            width: 100%;
            box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.4);
            position: relative;
            transform-style: preserve-3d;
            transition: transform 0.1s ease;
        }
        &-title {
            color: white;
            font-size: 2rem;
            font-weight: 600;
            transition: transform 0.3s ease;
        }
        &-description {
            color: white;
            font-size: 1.2rem;
            transition: transform 0.4s ease;
        }
        &-image {
            display: block;
            width: 100%;
            pointer-events: none;
            filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.1));
            transition: transform 0.5s ease;
        }
    }
}